*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
span{ font-size:large !important;}

    /* ***************** All button Menu***************** */
.naviger_menu, .recherches{
    justify-content: center;
    display: flex;
    align-items: center;
    margin:0 15px;
}
.naviger_menu li{
    align-items: center;
    list-style: none;
    margin: 0 15px;
}
    .recherches{ 
         margin-left: 2cm;
    }
        .naviger_menu li:nth-child(4){ /*Personalization the 4 button li */
            background-color: #27272b;
            border-radius: 24px;
            padding: 6px;
        }
        .primo button{ /*Personalization the 1 button li*/
            text-decoration: 0;
            width: 80px;
            padding: 7px;
            border-radius: 20px;
        }

    li a{               /*the 2 and 3 button li*/
        color: rgb(12, 11, 11);
        background-color: #c6cedd;
        border-radius: 24px;
        padding: 9px;
        text-decoration: 0;
        transition: 0.3s;
    }
.naviger_menu li a:hover{
    background-color: #6f6f88;
    color: #fff;
    font-size: 17px;
}
    .recherche{
        width: 48px;
        height: 40px;
        border-radius: 50px 0 0 50px !important;
    }
    .form-control{
        border-radius: 0 50px 50px 0;    
    }

    .language{
        padding: 80px;
    }       
    
    
    /************** big col lg center ***********/
    .col-lg-11{      
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center !important;
    justify-content: space-between;
    background-color: #c6cedd;
   height: 520px;
   padding: 25px;
   border-radius: 30px;
}


.col_reigth{ /* coter droit */
    background-color: #fff;
    background-image: url("image_prod/logo3.jpg");
    background-size: 650px 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: 795px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 15px;   
}
.col-lg-3{
     background-color: rgba(1, 1, 22, 0.7);
     color: #fff;
     border-radius: 10px;
     padding: 10px;
    width: 210px;
    height: 300px;
    margin: auto;
}
    .col-lg-3 img{
        border-radius: 5px;
    }

    .col_left{ /* coter gauche */
        background-color: #3d3838;
        height: 450px !important;
        width: 350px !important;
        border-radius: 15px ;
        display: flex;
        align-items: center;
    }
         .col-little{
            color: #fff;
            padding: 10px;
            margin-left: 4%;
            border-radius: 10px;
            height: 300px;
            width: 275px;
            background-color: rgba(1, 1, 22, 0.5);

        }
    
    .circle{ /* litle circle */
            background-color: #c6cedd;
            width: 38px;
            height: 55px;
            border-radius: 0 30px  30px 0;
            align-items: center;
            display: flex;
        }
        .circle i{
            color: white;
            background-color: #000;
            border-radius: 0 20px 20px 0;
            padding: 8px;
            cursor: pointer;
            transition: 0.4s;
            transition:
            transform 0.15s ease-out,
            color 0.15s ease-out,
            background-color 0.15s ease-out;
        }
        .circle i:hover{
            transform: translate(6px, -6px);
            color: white;
            background-color: rgb(32, 32, 200);
        }
        
        /* ----Modale login for member */
.container{ 
    position: absolute;
    left: 15px;
    border-radius: 10px;
    top: 13%;
    width: 375px;
    height: 480px;
    display: flex;
    visibility: hidden;
    background: rgba(96, 94, 94, 1) !important;
}